@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hard Disks</h2>
        <p>Info Hard Disks</p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Motherboards</h2>
        <p>Info Motherboards </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Power Supplies</h2>
        <p>Info Power Supplies</p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Graphic Cards</h2>
        <p>Info Graphic Cards </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>RAM cards</h2>
        <p>Info Random-Access Memory Cards </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>SSD's</h2>
        <p>Info Solid State Drives </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coolers</h2>
        <p>Info Coolers </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse Products", "Index", "Ram")</a></p>
    </div>
</div>