@model IEnumerable<webshop2.Models.ram>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Request.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    }
    <style>
        .left {
            float: left;
            width: 100px;
        }
        .table {
            float: right;
            width: 950px;
        }
    </style>
    <div class="left">
        <form class="form-control-static" method="post">
            Prijs: van @Html.TextBoxFor(model => model.ToArray()[0].min) tot @Html.TextBoxFor(model => model.ToArray()[0].max)
            @Html.Action("Index","RamController", new {model = Model })
            <input type="button" value="update list" />
        </form>
    </div>
    <table class="table">
        <tr>            
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                Composition Of Memory
            </th>
            <th>
                Memory Type
            </th>
            <th>
                Memory Suitable For
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                    <img src="@Url.Content(item.ImagePath)" width="125" height="75" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                @Html.DisplayFor(modelItem => item.CompositionOfMemory)
            </td>
            <td>
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                @Html.DisplayFor(modelItem => item.MemoryType)
            </td>
            <td>
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                @Html.DisplayFor(modelItem => item.MemorySuitableFor)
            </td>
            <td>
                <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                €@Html.DisplayFor(modelItem => item.Price)
            </td>
            
            @if (Request.IsAuthenticated) { 
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            }
        </tr>
    }
    
    </table>
</body>
</html>
