@model IEnumerable<webshop2.Models.ram>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>search</title>
</head>
<body>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "../Statistics/Create")
        </p>
    }
    <script type="text/javascript">
        function filter(min, max) {
            PageMethods.FilterRam(min, max);
        }
    </script>
    @if (!(Model.Count() == 0))
    {
        <table class="table">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Ramsize
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    Composition Of Memory
                </th>
                <th>
                    Memory Type
                </th>
                <th>
                    Memory Suitable For
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            <img src="@Url.Content(item.ImagePath)" width="125" height="75" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            @Html.DisplayFor(modelItem => item.Ramsize) GB
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            @Html.DisplayFor(modelItem => item.CompositionOfMemory)
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            @Html.DisplayFor(modelItem => item.MemoryType)
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            @Html.DisplayFor(modelItem => item.MemorySuitableFor)
                    </td>
                    <td>
                        <a href="@Url.Action("View/" + Convert.ToString(item.ID), "Ram")" class="navbar-brand">
                            €@Html.DisplayFor(modelItem => item.Price)
                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "../Statistics/Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "../Statistics/Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "../Statistics/Delete", new { id = item.ID })
                        </td>
                    }
                </tr>
            }

        </table>
    }
    else
    {
        <h2>We couldn't find anything with that entry.</h2>
        <form action="~/Ram/Index" method="get">
            <input type="submit" value="reload" />
        </form>
    }
    <div> 
    </div>
</body>
</html>