@model webshop2.Models.ram

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>ram</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <img src="@Url.Content(Model.ImagePath)"width="250" height="250"/>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompositionOfMemory)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompositionOfMemory)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MemoryType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemoryType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Clockspeed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Clockspeed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CASlatency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CASlatency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Voltage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Voltage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MemoryModuleConnection)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemoryModuleConnection)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MemorySuitableFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemorySuitableFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
    
            
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
