@model IEnumerable<prj56.Models.Case>

@{
    ViewBag.Title = "Cases";
}

<h2>Cases</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerHousing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatMotherboard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USB2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USB3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bays35)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bays25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bays525)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtensionLocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Length_Videocard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fanpositions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontFan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RearSideFan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideFan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopSideLock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomSideLock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FanSupplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumAltitudeProcessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationPowersupply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PanelDoor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiseReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DustFilter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FanController)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoundProofingMats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerHousing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatMotherboard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USB2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USB3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bays35)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bays25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bays525)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtensionLocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_Length_Videocard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fanpositions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrontFan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RearSideFan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SideFan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopSideLock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomSideLock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FanSupplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumAltitudeProcessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationPowersupply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PanelDoor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiseReduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DustFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FanController)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoundProofingMats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CaseId })
        </td>
    </tr>
}

</table>
