@model IEnumerable<webshop2.Models.shoppingcart>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Model.Count() > 0)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <form method="post">
            EmailAddress: @Html.TextBoxFor(model => model.ToArray()[0].email)
            <button runat="server">Check out</button>
        </form>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagepath)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagepath)
                    </td>
                    <td>

                        @Html.ActionLink("Remove from shoppingcart", "Delete/" + item.ProductId, "Shoppingcart")
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>We couldn't find anything in your shoppingcart.</h2><br />
        <form action="~/Home/index" method="get">
            <input type="submit" value="Home" />
        </form>
    }
</body>
</html>
