@model IEnumerable<webshop2.Models.wishlist>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Product Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagepath)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="@Url.Content(item.Imagepath)" width="125" height="75" />
            </td>
            <td>
                <a href="@Url.Action("Plus_To_Wishlist/" + item.ProductId, "Wishlist")" class="navbar-brand">
                    <img src="~/images/plus.png" title="Plus" alt="Plus" width="25" height="25" />
                </a> 
                <a href="@Url.Action("Minus_To_Wishlist/" + item.ProductId, "Wishlist")" class="navbar-brand">
                    <img src="~/images/minus.png" title="Minus" alt="Minus" width="25" height="25" />
                </a> 
                <a href="@Url.Action("Remove_From_Wishlist/" + item.ProductId, "Wishlist")" class="navbar-brand">
                    <img src="~/images/remove.png" title="Remove" alt="Remove" width="25" height="25" />
                </a> 
                <a href="@Url.Action("Add_To_Cart/" + item.ProductId, "Wishlist")" class="navbar-brand">
                    <img src="~/images/addcart.png" title="Add to Cart" alt="Add to Cart" width="35" height="35" />
                </a> 
            </td>
        </tr>
    }
    
    </table>


</body>
</html>
